*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

.overallcontainer{
    background-color: black;
     font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: darkturquoise;
    padding-left: 80px;
    padding-right: 30px;
    /* overflow-x: hidden; */
}
.navbar i{
    display: none;
    padding: 20px;
}
.SubNav{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    padding-top: 10px;
    color: darkturquoise;
}
.SubNav h3{
    border-bottom: none;
    display: inline-block;
}
.SubNav h3:hover{

    border-bottom: 3px dotted gray;
}

@media  only screen and (min-width:300px) and (max-width:600px){

    .navbar{
        padding-left: 30px;
        /* position: relative; */
        
    }
    .navbar i{
        display:inline-block;
    }
    .SubNav{
        position: fixed;
        flex-direction: column;
        padding-top: 10px;
        gap: 20px;
        top: 60px;
        right: -50%;
        transition: all 1s;
    }


}


/* ------------------------hero---------------------------------------- */
.hero{
    min-height: 86vh;
    display: flex;
}
.heroLeftText{
    width: 50%;
    /* background-color:crimson; */
    height: 86vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0px 80px;
    position: relative;
    
}
.heroLeftText h1{
    font-size: 50px;
}
.web{
    color: darkturquoise;
}
.iconholder{
    position: absolute;
    left: 15px;
    gap: 5px;
    top: 40%;
    display: flex;
    flex-direction: column;
    color: darkturquoise;
    font-size: 20px;
}

.hero-right-img{
    width: 50%;
    height: 86vh;
    /* background-color: blanchedalmond; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
.hero-right-img img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}
@media  only screen and (min-width:300px) and (max-width:600px){
    .hero{
    min-height: 86vh;
    display: flex;
    flex-direction: column;
}
}

/* --------------------------about--------------------------- */
.aboutContainer{
    min-height: 100vh;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutContainer .abouthead{
    color: white;
    /* background-color: burlywood; */
}
.about{
    display: flex;
    width: 100%;
}
.abouttext{
    background-color: aquamarine;
    width: 60%;
}
.namecontainer{
    position: relative;
}
.namecontainer h1{
     color: transparent;
    -webkit-text-stroke: 1px white;
    font-size: 50px;
    
}
.namecontainer p{
position: absolute;
color: white;
top: 9px;
left: 10px;
}
.aboutimg{
    background-color:cornflowerblue;
    width: 40%;
}



