*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

.overallcontainer{
    background-color: black;
     font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: darkturquoise;
    padding-left: 80px;
    padding-right: 30px;
    /* overflow-x: hidden; */
    animation: navbox 1s ease-out  ;
}
@keyframes navbox {
    from{
        /* top:-100px; */
        position: relative;
        transform: translateY(-100px);
    }to{
        /* top:0; */
        position: relative;
        transform:  translateY(0);
    }
}
.navbar i{
    display: none;
    padding: 20px;
}
.SubNav{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    padding-top: 10px;
    color: darkturquoise;

   animation: subbox 1s ease-in  ;
   

}
/* @keyframes subbox {
    from{
        right:-100px;
         position: relative;
    }to{
        right:0;
         position: relative;
    }
} */
.SubNav h3{
    border-bottom: none;
    display: inline-block;
}
.SubNav h3:hover{

    border-bottom: 3px dotted gray;
}

@media  only screen and (min-width:300px) and (max-width:600px){

    .navbar{
        padding-left: 30px;
        /* position: relative; */
        
    }
    .navbar i{
        display:inline-block;
    }
    .SubNav{
        position: fixed;
        flex-direction: column;
        padding-top: 10px;
        gap: 20px;
        top: 60px;
        right: -50%;
        transition: all 1s;
    }


}


/* ------------------------hero---------------------------------------- */
.hero{
    min-height: 88vh;
    width: 99%;
    display: flex;
    position: relative;
    animation: hero 2s both;
    animation-timeline: view();
    animation-range: entry 20% cover 60%;
    transition: all 2s;

}
@keyframes hero{
    from{
        opacity: 0;
        transform: translateX(100px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.heroLeftText{
    width: 50%;
    /* background-color:crimson; */
    height: 86vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0px 80px;
    gap: 10px;
    
    
}
.h1tag{
    /* display: inline-block; */
    /* flex-direction: column;
    gap: 5px; */
    /* width: 100%; */
}
.h1tag .top{
    font-size: 50px;
    
}
.h1tag .top .type1{
    font-size: 50px;
    width: 8ch;
    display: inline-block;
    height: 54px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid white;
    letter-spacing: 3px;
    transition: all ease;
    animation: typing 2s steps(8) forwards,
    blink 1s step-start infinite;
}
@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 8ch;
    }
}
@keyframes blink{
    50%{
        border-color: transparent;
    }
}
.h1tag .bottom{
    font-size: 50px;
    width:11ch;
    height: 54px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid white;
    letter-spacing: 3px;
    transition: all ease;
    animation: typing2 2s steps(11) forwards,
    blink 1s step-start infinite;
    
}
@keyframes typing2{
    from{
        width: 0;
    }
    to{
        width: 11ch;
    }
}
.web{
    color: darkturquoise;
}
.iconholder{
    position: absolute;
    left: 15px;
    gap: 5px;
    top: 36%;
    display: flex;
    flex-direction: column;
    color: darkturquoise;
    font-size: 20px;
    animation: icoon 2s ease-in ;
}
@keyframes icoon{
    from{
        left: -100px;
    }
    to{
        left:15px;
    }
}

.hero-right-img{
    width: 50%;
    height: 86vh;
    /* background-color: blanchedalmond; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: photo 2s linear;  
    position: relative;
    
}
@keyframes photo{
    from{
        filter: blur(5px) saturate(1) contrast(1) brightness(0.1);
        opacity: 0;
        scale: 0.95;
        translate: 0 4rem;
    }
    to{
         filter:none;
        opacity: 1;
        scale: 1;
        translate: 0 0;
    }
}
.hero-right-img img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    padding: 10px;
    border: 2px solid darkturquoise;
}

.imgcover{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: 1px double burlywood;
    position: absolute;
    animation: spin 10s infinite;

}
/* .polli{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 0px;
    left: 50%;
    position: relative;
    background-color: crimson;
} */
.imgcover::after{
    content: ".";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: -20px;
    font-size: 10px;
    left: 50%;
    position: relative;
    background-color: crimson;
    color: white;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
        border: 1px double red;
    }
    20%{
        border: 1px double yellow;
    }
    40%{
        border: 1px double orange;
    }
    60%{
        border: 1px double crimson;
    }
    80%{
        border: 1px double lightsalmon;
    }
    100%{
        transform: rotate(360deg);
    border: 1px double red;
    }
}

@media  only screen and (min-width:300px) and (max-width:600px){
    .hero{
    min-height: 80vh;
    display: flex;
    flex-direction: column-reverse;
}
    .heroLeftText{
        width: 100%;
        height: unset;
        padding:0px 40px 0px 50px;
        margin-bottom: 30px;
}
.heroLeftText h1{
    font-size: 40px;
}
.heroLeftText p{
    font-size: 14px;
}
    .hero-right-img{
        width: 100%;
        height: unset;
    }
    .hero-right-img img{
    width: 200px;
    height: 200px;
    }
    .imgcover{
        width: 250px;
    height: 250px;
    }
}
@media  only screen and (min-width:600px) and (max-width:800px){
    .hero-right-img img{
    width: 300px;
    height: 300px;
    }
        .heroLeftText{
        width: 100%;
        height:unset;
        padding:0px 50px 0px 80px;
}
    .heroLeftText h1{
    font-size: 40px;
}
.heroLeftText p{
    font-size: 16px;
}
.hero-right-img{
        
        height: unset;
    }
}
/* --------------------------about--------------------------- */
.aboutContainer{
    min-height: 100vh;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: about 1s both;
    animation-timeline: view();
    animation-range: entry 10% cover 40%;
}
@keyframes about{
    from{
        opacity: 0;
        scale: 0.95;
        translate: 0 4rem;
    }
    to{
        opacity: 1;
        scale: 1;
        translate: 0 0;
    }
}
.aboutContainer .abouthead{
    color: darkturquoise;
    /* background-color: burlywood; */
    margin-bottom: 20px;
}
.about{
    display: flex;
    width: 100%;
}
.abouttext{
    /* background-color: aquamarine; */
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;
}
.namecontainer{
    position: relative;
}
.namecontainer h1{
     color: transparent;
    -webkit-text-stroke: 0.5px darkturquoise;
    font-size: 50px;
    
}
.namecontainer p{
position: absolute;
color: white;
top: 30px;
left: 60px;
letter-spacing: 2px;
}
.abouttext p{
    color: white;
}
.abouttext button{
    width: 130px;
    padding: 6px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: black;
    color: white;
    transition:1s all;
}
.abouttext button:hover{
    background-color: darkturquoise;
}
.aboutimg{
    /* background-color:cornflowerblue; */
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: photo1 1s both;
    animation-timeline: view();
    animation-range: entry 10% cover 60%;
}
@keyframes photo1{
    from{
        filter: blur(5px) saturate(1) contrast(1) brightness(0.1);
        /* opacity: 0;
        scale: 0.95;
        translate: 0 4rem; */
    }
    to{
         filter:none;
        /* opacity: 1;
        scale: 1;
        translate: 0 0; */
    }
}
.aboutimg-image{
    width: 200px;
    height: 200px;
    position: relative;
}
.aboutimg-image::before{
    content: "";
    width: 180px;
    height: 180px;
    background-color: darkturquoise;
    position: absolute;
    top: 10px;
    left: 10px;
}

