*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}

.overallcontainer{
    width: 100%;
    background-color: black;
     font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: darkturquoise;
    padding-left: 80px;
    padding-right: 30px;
    /* overflow-x: hidden; */
}
.navbar i{
    display: none;
    padding: 20px;
}
.SubNav{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    padding-top: 10px;
    color: darkturquoise;
}
.SubNav h3{
    border-bottom: none;
    display: inline-block;
}
.SubNav h3:hover{

    border-bottom: 3px dotted gray;
}

@media  only screen and (min-width:300px) and (max-width:600px){

    .navbar{
        padding-left: 30px;
        position: relative;
        
    }
    .navbar i{
        display:inline-block;
    }
    .SubNav{
        position: absolute;
        flex-direction: column;
        display: flex;
        padding-top: 10px;
        gap: 20px;
        top: 60px;
        right: 0;
        transform: translateX(100%);
        transition: all 0.4s ease;
    }
    .SubNav.active{
        transform: translateX(0);
    }


}


/* ------------------------hero---------------------------------------- */
.hero{
    min-height: 86vh;
    display: flex;
    position: relative;
    width: 100%;
}
.heroLeftText{
    width: 50%;
    /* background-color:crimson; */
    height: 86vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0px 80px;
    
    
}
.heroLeftText h1{
    font-size: 50px;
}
.web{
    color: darkturquoise;
}
.iconholder{
    position: absolute;
    left: 15px;
    gap: 5px;
    top: 36%;
    display: flex;
    flex-direction: column;
    color: darkturquoise;
    font-size: 20px;
}

.hero-right-img{
    width: 50%;
    height: 86vh;
    /* background-color: blanchedalmond; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    overflow: hidden;
}
.hero-right-img img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    /* max-width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 50%; */
}
.hiddenImg{
        visibility: hidden;
    }
.hiddenImg img{
        width: 200px;
        height: 200px;
        display: none;
    }
@media  only screen and (min-width:300px) and (max-width:600px){
    .hero{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
}
    .heroLeftText{
        width: 100%;
        height: unset;
        /* padding:0px 40px 0px 60px; */
        margin-bottom: 30px;
}
.heroLeftText h1{
    font-size: 40px;
}
.heroLeftText p{
    font-size: 14px;
}
    .hero-right-img{
        /* width: 100%; */
        height: 0%;
        display: none;
    }
    .hero-right-img img{
    width: 0px;
    height: 0px;
    visibility: hidden;
    }
    .hiddenImg{
        visibility: unset;
    }
    .hiddenImg img{
        display: inline-block;
        border-radius: 50%;
    }
    
}
@media  only screen and (min-width:600px) and (max-width:800px){
    .hero-right-img img{
    width: 300px;
    height: 300px;
    }
        .heroLeftText{
        width: 100%;
        height:unset;
        padding:0px 50px 0px 80px;
}
    .heroLeftText h1{
    font-size: 40px;
}
.heroLeftText p{
    font-size: 16px;
}
.hero-right-img{
        
        height: unset;
    }
}
/* --------------------------about--------------------------- */
.aboutContainer{
    min-height: 60vh;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}
.aboutContainer .abouthead{
    color: darkturquoise;
    font-size: 45px;
    /* background-color: burlywood; */
}
.about{
    display: flex;
    width: 100%;
    margin-top: 20px;
}
.abouttext{
    /* background-color: aquamarine; */
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    
}
.namecontainer{
    position: relative;
}
.namecontainer h1{
     color: transparent;
    -webkit-text-stroke: 1px darkturquoise;
    font-size: 80px;
    
}
.namecontainer p{
position: absolute;
color: white;
letter-spacing: 2px;
/* text-align: center; */
top: 48px;
left: 130px;
}
.abouttext button{
    border-radius: 10px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 10px;
    width: 150px;
}
.abouttext button i{
    color: darkturquoise;
}
.aboutimg{
    /* background-color:cornflowerblue; */
    width: 40%;
    /* overflow: hidden; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    

}
.aboutimg img{
    width: 250px;
    height: 250px;
    transform: rotatey(180deg);
    box-shadow: 10px 10px 0px darkturquoise;
    
}

@media only screen and (min-width:300px) and (max-width:600px){
    .aboutimg{
        display: none;
        width: 0;
        align-items: center;
    }
    .abouttext{
         width: 100%;
    }
}



